# User-specific Neovim files
.nvim/

# User-specific Xcode files
*.xcuserstate
xcuserdata/

# Build Artifacts / LSP Generated
compile_commands.json
buildServer.json
build/
DerivedData/

# macOS / System files
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/

# Sensitive Data
SupabaseCredentials.plist
APICredentials.plist

